.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.room_list {
  width: 20%;
  background-color:rgb(199, 193, 193);
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  padding: 1px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}
body {
  height: 100%;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
li {
  padding: 10px;
}
.title-line {
  display: inline-block;
  padding-right: 10px;
}

#newform {
  text-align: center;
  background-color: rgb(167, 197, 236);
  width: 25%;
  position: right;
  margin-left: 250px;
  margin-top: 200px;
  padding: 20px;
}

.msgLists {
  width: 60%;
  position: right;
  text-align: right;
  padding-left: 100px;
}
 .msgList h3 {
   width: 60%;
   text-align: left;
   margin-left: 290px;
 }
 .messageList {
   width: 60%;
   text-align: left;
   margin-left: 300px;
 }

 .msgTime {
   margin-left: 600px;
   position: absolute;
 }